.dot-paragraph::before {
  content: "•"; /* Unicode for a bullet point */
  margin-right: 8px; /* Adjust spacing between the dot and paragraph */
  color: #333; /* Color of the dot */
}
.img-parent {
  width: 220px;
  height: 120px;
  img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  @media (max-width: 478px) {
    width: 100%;
    margin-bottom: 50px;
  }
}
.card {
  border-radius: 10px;
  @media (max-width: 478px) {
    text-align: center;
  }
}
.homeclass {
  min-height: 100vh;
  @media (max-width: 478px) {
    min-height: 50vh;
  }
}
